<div class="container-sm">

    <div class="card row user-info-container d-flex flex-row">
        <div class="col-sm">
            <div class="user-message">
                <h5 class="titulo-cor">Olá, {{user.firstName}}</h5>
                <small class="desc">Quais são as dúvidas de hoje?</small>
            </div>
        </div>

        <div class="col-sm one">
            <div class="user-profile">
                <div>
                    <h5 class="titulo-cor">{{user.name}}</h5>
                    <small class="desc">{{user.instEnsino}}</small>
                </div>
                <div class="img">
                    <span class="material-symbols-sharp">
                        fiber_manual_record
                    </span>
                    <img src={{user.img}} alt="Imagem de perfil do aluno">

                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="user-minutos d-flex">
                <div class="text d-flex flex-column justify-content-center gap-2">
                    <small class="desc">Você possui</small>
                    <h5><span class="minuto-qntd">20</span>min</h5>
                </div>
                <a href="/aluno/comprar"><button class="p-2 btn btn-primary buy">Comprar</button></a>
            </div>
        </div>
    </div>

    <div class="categorias-container pt-4 gap-3 d-flex flex-column">

        <h5 class="desc">Em qual tecnologia deseja ajuda?</h5>
        <div class="categorias-grid ">
            {{#each data.tecnologia}}
            {{#dataValues}}
                <form action="/aluno/tutor" method="get">
                    <button name="idTecnologia" value={{idTecnologia}} class="card p-3 categoria-card">
                        <span>{{nomeTecnologia}}</span>
                        <img src="/img/icon/{{nomeTecnologia}}.svg" alt="">
                    </button>
                </form>

            
            {{/dataValues}}
            {{/each}}
        </div>
    </div>

</div>